body{
    margin: 0%;
    padding: 0%;
    background-color: aqua;


}
h2{
    background-color: rgb(105, 179, 243);
    box-shadow: 1px 2px 3px black;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
div{

    box-shadow: 1px 5px 3px black;
    margin-top: 15px 30px;
    border-radius: 10px;
    text-align: center;
    height: 450px;
    width: 660px;
    margin: auto;
    background-color: violet;
}
#todo_input{
    margin-top: 30px;
    

}
#add_btn{
    background-color: tomato;
    border-radius: 5px;
    cursor: pointer;
}
ol{
    overflow: scroll;
    max-height: 350px;
}